{% extends 'base.html' %}

{% block title %}Home Page{% endblock title %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock head %}


{% block body %}
<div style="height: 91.3vh; display: flex;background-image:url(https://picsum.photos/1920/1080); background-repeat: no-repeat;">
    <div style="width: 300px;overflow-x:hidden; overflow-y:auto; height:87.4vh; background-color: gray;margin: 15px; border-radius: 40px;">
        <div style="position: fixed; background-color: bisque; display: flex; width:inherit;padding:10px; border-top-left-radius: 40px;" >
            <h1>Departments</h1>
        </div>
        <div style="margin-top:85px; margin-left: 10px;margin-right: 10px;">
                {% for blog in  data%}
                    <form method="post">
                        {% csrf_token %}
                        <button name='selected_blog' value="{{ blog.pk }}" style="display: flex; flex-direction: column; margin: 10px; border-radius: 10px; padding: 10px; background-color: aliceblue; width: 250px;">
                            <p style="margin:0px;align-self: flex-Start;">{{blog.username}}</p>
                            <h3 style="margin:0px;color:black">{{blog.title}}</h3>
                            <p style="margin:0px;align-self: flex-end;">{{blog.date_time}}</p>
                        </button>
                    </form>
                {% endfor %}
            
        </div>
    </div>

    <div style="width: 330px;overflow-x:hidden; overflow-y:auto; height:87.4vh; background-color: gray;margin: 15px; border-radius: 40px;">
        <div style="z-index: 99; position: fixed; background-color: bisque; display: flex; width:inherit;padding:10px; border-top-left-radius: 40px;" >
            <h1>My Updates</h1>
            {% if user_name != 'AnonymousUser' %}
                <button style="align-self:center; margin-left: auto; border-radius: 5px; width: 80px;"><a href="blog/" style="color: black; text-decoration: none;">Add</a></button>
            {% endif %}
            
            
        </div>
        <div style="margin-top:85px; margin-left: 10px;margin-right: 10px; width: 300px;">
                {% for blog in  data%}

                    {% if blog.username == user_name %}
                    <form method="post">
                        {% csrf_token %}
                        <button name='selected_blog' value="{{ blog.pk }}" style="display: flex; flex-direction: column; margin: 10px; border-radius: 10px; padding: 10px; background-color: aliceblue; width: 250px;">
                            <h3 style="color:black">{{blog.title}}</h3>
                        </button>
                    </form>
                    {% endif %}
                {% endfor %}
            

        </div>


    </div>

    {% if blog_content == null %}
        
        {% else %}
            <div id="closable" style="width:50vw;display: flex;flex-direction: column ;padding: 30px ;border:solid white 2px; margin:40px; height: 700px; align-self: center; justify-self: center; border-radius: 10px; border-color: 0,0,0,0.9; backdrop-filter: blur(20px);">
                <button  id="myButton" style="align-self: flex-end; background: none; border: none; width: 50px"><h3>X</h3></button>
                <h2 style="align-self: center; color:black;font-weight: 900;position: fixed;">{{blog_title}}</h2>
                <h3 style="width: 700px;padding: 5px ;border-radius: 5px; background-color:rgb(0,0,0,0.5);backdrop-filter: blur(5px);overflow-y: auto;height: 600px ;align-self: center;color:white;font: weight 200px;margin-top: 30px ;">{{blog_content}}</h3>

                {% if blog_author == user_name%}
                    <form method="post" style="display: flex; justify-content: space-between; margin: 10px;">
                        {% csrf_token %}
                        <button name="edit_blog" value="{{ selected_blog.pk }}" style="align-self: flex-start;width:80px;border-radius: 5px ;font-size: large;">Edit</button>
                        <button name="delete_blog" value="{{ selected_blog.pk }}" style="width:90px;border-radius: 5px; ;color: red; margin-top: 5px;"><i class="material-icons" style="color: red;">delete</i></button>
                    </form>
                {% endif %}
                
        
            </div>
    {% endif %}
    
</div>

<style>
    body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
    #myButton:hover {
    background-color: blue;
    color: white;
    }

</style>

<script>
    document.getElementById("myButton").onclick = function() {
            document.getElementById("closable").style.display = "none";
        }
</script>

{% endblock body %}